## Importing necessary libraries

In [4]:
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

## Loading up the dataset

In [5]:
X, y = load_iris(
    return_X_y = True
)

In [6]:
X = pd.DataFrame(X, columns = ["feature1", "feature2", "feature3", "feature4"])

In [7]:
y = pd.DataFrame(y, columns = ["label"])

In [8]:
X.head()

   feature1  feature2  feature3  feature4
0       5.1       3.5       1.4       0.2
1       4.9       3.0       1.4       0.2
2       4.7       3.2       1.3       0.2
3       4.6       3.1       1.5       0.2
4       5.0       3.6       1.4       0.2

In [9]:
X.describe()

         feature1    feature2    feature3    feature4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [10]:
y.head()

   label
0      0
1      0
2      0
3      0
4      0

In [11]:
y.value_counts()

label
0        50
1        50
2        50
dtype: int64

## Splitting the data into train and test sets

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42
)

In [13]:
print(f"Shapes of training data: {X_train.shape} and {y_train.shape}")
print(f"Shapes of training data: {X_test.shape} and {y_test.shape}")

Shapes of training data: (100, 4) and (100, 1)
Shapes of training data: (50, 4) and (50, 1)

## Building a Logistic Regression Classifier

Refer to the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) for details about the hyperparameters

In [15]:
clf = KNeighborsClassifier(
    n_neighbors = 3
).fit(X, y)

/home/vijay/.local/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

## Testing the Classifier on the test data

In [16]:
clf.score(X_test, y_test)

/home/vijay/.local/lib/python3.8/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.98